@media only screen and (max-width: 66em) {

    .box-root {
        grid-column: 1fr 1fr 1fr;
        grid-template-areas: 
        "box-1" 
        "box-2" 
        "box-3"
    }
    body #grid-box {
        max-width: 80%;
        padding: auto;
    }

    header, footer {
        height: 7rem;
        border-radius: 2rem;
    }


    #update_info {
        font-size: 0.8rem;
        vertical-align: text-top; 
        margin-top: 1rem;
        margin-left: -20%;
    }
}
