@font-face {
    font-family: Oswald;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap')
  }

@font-face {
    font-family: Rubik;
    src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap')
  }

html, body {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0%;
}

main {
    display: block;
}

h1 {
    position: static;
    width: auto;
    height: 25vh;
    margin: 0%;
    border-radius: 5%;
    background-color: rgb(60, 19, 99);
    color:blanchedalmond;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: left;
    padding-left: 10%;
    line-height: 25vh;
}

h2 {
    width: auto;
    height: 10vh;
    font-family: Oswald, sans-serif;
    font-weight: 200;
    font-size: 20px;
    border-bottom: 2px solid;
    border-color: gray;
    border-radius: 10%;
}
ul {
    width: auto;
    height: 40vh;
}

img {
    float:right;
    margin-top: -10%;
    margin-right: 10%;
    -moz-box-shadow: 10px 10px 50px #ccc;
    -webkit-box-shadow: 10px 10px 50px #ccc;
    box-shadow: 10px 10px 50px #ccc;
}

li {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.assignment:link {
    color: blue;
}

.assignment:visited {
    color: blueviolet;
}

.assignment:hover {
    color: rgb(6, 85, 46);
}

footer{
    position: static;
    width: auto;
    height: 25vh;
    margin: 0%;
    border-radius: 5%;
    background-color: rgb(60, 19, 99);
    text-align: center;

}

#footer_link:link {
    display: inline-block;
    color:rgb(255, 219, 166);
    font-family: Oswald, sans-serif;
    font-weight: 200;
    font-size: 13px;

    line-height: 15vh;
}

#footer_link:visited {
    color:orangered;
}

#footer_link:hover {
    color: aqua;
}

p {
    display: inline-block;
    color:blanchedalmond;
    font-family: Oswald, sans-serif;
    font-weight: 200;
    font-size: 13px;
 
    line-height: 15vh;   
}

#update_info {
    color:gold;
    font-family: Oswald, sans-serif;
    font-weight: 200;
    font-size: 12px;
    vertical-align: text-top; 
    line-height: 15vh;  
    margin-top: 0%;
    margin-left: -20%;

}

