@media only screen and (min-width: 60em) {

    html {
        max-width: 1024px;
        padding: 0.5rem;
    }

    body {
        margin: 5rem;
    }

    .logo {
        max-width: 200px;
        max-height: 100px;
        margin-left: 1.5rem;
    }
    nav {
        margin: 0 auto;
        width: 100%;
    }
    .navigation {
        margin-top: -0.2rem;
        left: 0;
        padding: 0.5rem;
        align-items: flex-start;
        flex-wrap: nowrap;
        display: flex;
        order: 1;
        position: relative;
        width: auto;
        flex-direction: row;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        text-align: center;
        flex:none;
    }

    .navigation a {
        font-size: 1.1rem;
    }


    .navigation ul {
        display: flex;
        list-style-type: none;
    }



    .navigation a:hover {
        background-color: #F6F1EE;
        color:#3F5B44;
        text-decoration: underline;
    }

    .active a:hover {
        color:#DC783E;
    }

    .logo {
        display: flex;
    }

    main {
        margin: 5rem;
    }


    h1 {
        font-size: 40px;
        margin-top: 0;
    }
    
    .title {
        margin-top: 0;
    }

    header div {
        font-size: 20px;
        margin-top: -2rem;
    }

    .banner {
        margin-bottom: -13rem;
    }

    #img-banner img {
        width: 72.2rem;
    }


    .w-summary h2 {
        font-size: 18px;
    }

    .w-summary p {
        font-size: 14px;
     
    }

    .forecast {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 2rem;
 
    }

    .forecastTitle {
        background:#F6F1EE;
    }
    
    .forecast-col {
        display: flexbox;
        flex: 1 1;
        padding: 0rem 2rem 0rem 2rem;
        
    }

    #weather-rights {
        position: relative;
        top: 7.5rem;
        margin: 0;
        padding: 0;
        font-size: 13px;
        text-align: right;
    }

    .article {
    
        padding-bottom: 2rem;
    }

    .article-link {
        font-size: 0.8rem;
        margin-top: 1rem;
    }


    .contact {
        width: 100%;
        display: flex;
        flex: 1 1;
        flex-direction: row-reverse;
        
    }

    .contact-info {
        display: flexbox;
    }

    .contact-info h2 {
        text-align: left;
    }

    .contact-info p, .contact-info a {
        text-align: left;
    }

    .social-media {
        margin-left: 0.8rem;
    }

    #map {
        width: 20rem;
        height: 12.5rem;
        margin: 2rem 5rem 2rem 3rem;

    }


    footer {
        padding: 0.5rem 0rem 0.5rem 0rem;
    }

    #assignment-link:hover #wireframes-link:hover {
        color: #F7FF00;
    }

    /*Gallery Page*/

    .tours {
        display: flex;
        border : 1px solid #09342C;
        border-radius: 5rem;
        padding: 3rem;
        margin: 1rem;
    }

    .tours img {
        border-radius: 5rem;
    }

    .tours a {
        display: flex;
        flex: 1 1;
    }

    .tours:hover {
        background-color: #686662;
    }

    .sec1 a, .sec3 a {
        flex-direction: row;
    }

    .sec2 a, .sec4 a {
        flex-direction: row-reverse;
    }

 
    /* Reservations page*/

    .reservations-form {
     display:flex;
     flex-direction: row;
     flex: 1 1;
 }

    /* Home Page*/

    #First {
        display: flex;
        flex-direction: column;
        flex: 1 1 1 1 1 1;
        width: 80%;
        margin-left: 5rem;
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    #First hr {
        display: none;
    }

    .zone1, .zone2, .zone3, .zone4, .zone5, .zone6 {
        flex-direction: column;
        border-radius: 2rem;
        background-color: #846E42;
        margin: 1rem;
        padding: 0.5rem;
    }

    .zone1 h1, .zone2 h1, .zone3 h1, .zone4 h1, .zone5 h1, .zone6 h1 {
        text-align: center;
        color:#32CFB2;
        font-size: 30px;
        margin: 1rem 0.5rem 0.5rem 0.5rem;
    }


    .zone1 h3, .zone2 h3, .zone3 h3, .zone4 h3, .zone5 h3, .zone6 h3 {
        text-align: center;
        font-size: 20px;
        margin: 0rem 0.5rem 1rem 0.5rem;
    }

    .zone1 img, .zone2 img, .zone3 img, .zone4 img, .zone5 img, .zone6 img {
        border-radius: 2rem;
        margin: 1rem 5rem 1rem 1rem;
    }

    .invite {
        margin-bottom: -18rem;
    }

    #frase1 {
        position: relative;
        font-size: 1.4rem
        top: -18rem;
        left: 1.5rem;
        line-height: 3rem;
    }
    
    
    #frase2 {
        position: relative;
        font-size: 1.9rem;
        text-align: center;
        top: -21rem;
        left: 18rem;
    }
    
    .invite button {
        position: relative;
        font-size: 2.5rem;
        top: -21rem;
        left: 39rem;
    }
