@media only screen and (min-width: 40em) {

    html {    
        max-width: 768px;
        padding: 0.5rem;
    }

    body {
        margin: 3rem;
    }


    .logo {
        max-width: 150px;
        max-height: 100px;
        margin-left: 1.5rem;
    }
    nav {
        margin: 0 auto;
        width: 100%;
    }
    .navigation {
        margin-top: -0.2rem;
        left: 0;
        padding: 1rem;
        align-items: flex-start;
        flex-wrap: nowrap;
        display: flex;
        order: 1;
        position: relative;
        width: auto;
        flex-direction: row;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        text-align: center;
        flex:none;
    }

    .navigation a {
        font-size: 1rem;
    }

    .navigation ul {
        display: flex;
        list-style-type: none;
    }


    .navigation a:hover {
        background-color: #F6F1EE;
        color:#3F5B44;
        text-decoration: underline;
    }

    .active a:hover {
        color:#DC783E;
    }

    main {
        margin: 0rem 2rem 0rem 2rem;
    }

    h1 {
        font-size: 40px;
        margin-top: 0;
    }
    

    .title {
        margin-top: 0;
    }
    
    header div {
        font-size: 20px;
        margin-top: -2rem;
    }
    
    #page-title {
        padding: 2rem;
    }

    .w-summary h2 {
        font-size: 18px;
    }

    .w-summary p {
        font-size: 14px;

    }

    .banner {
        margin-bottom: -13rem;
    }

    #img-banner img {
        width: 59.5rem;
    }


    .forecast {
        display: flex;
        flex-flow: row wrap;
        
    }

    .forecast-col {
        display: flexbox;
        flex: 1;
    }

    .forecastTitle {
        background:#F6F1EE;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }

    #weather-rights {
        margin: 0.5rem;
        padding: 0rem;

    }

    .article {
        
        padding-bottom: 2rem;
    }

    #article-content h3, p {
        text-align: justify;
    
    }

    .article-link {
        font-size: 0.8rem;
        margin-top: 1rem;
    }



    #image-travel img {
        position: static;
        bottom: 0;
        float: right;
        width: 40rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .travel-license {
        top: 28rem;
        left: 41rem;
    }

    .travel-license p, .travel-license a {
        font-size: 0.7rem;
    }


    .contact {
        width: 100%;
        display: flex;
        flex: 1 1 auto;
    }

    .contact-info {
        display: flexbox;

    }

    .contact-info h2 {
        text-align: left;
    }

    .contact-info p, .contact-info a {
        text-align: left;
    }
    
    .social-media {
        margin-left: 0.8rem;
    }

    #map {
        display: flexbox;
        width: 18.75rem;
        height: 9.375rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }


    #assignment-link:hover #wireframes-link:hover {
        color: #F7FF00;
    }

    /*Gallery Page*/

    .img-g {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        padding: 5px;
    }

    .gallery {
        width: 350px;
        height: 300px;
    }
    
    /* Storm Center*/

    form fieldset {
        padding: .5rem .5rem 1rem 1rem;
    }

    form label.top input, form label.top select {
        padding: .6rem;
    }


    /* Home Page*/


    #First hr {
        display: none;
    }

    .zone1, .zone2, .zone3, .zone4, .zone5, .zone6  {
        display: flex;
        flex-direction: row;
        border-radius: 2rem;
        background-color:#846E42;
        margin: 2rem;
        padding: 1rem;
    }

    .zone1 h1, .zone2 h1, .zone3 h1, .zone4 h1, .zone5 h1, .zone6 h1 {
        text-align: center;
        color:#32CFB2;
        font-size: 25px;
        margin: 2rem 1rem 1rem 1rem;
    }


    .zone1 h3, .zone2 h3, .zone3 h3, .zone4 h3, .zone5 h3, .zone6 h3 {
        text-align: center;
        font-size: 18px;
        margin: 0rem 1rem 2rem 1rem;
    }

    .zone1 img, .zone2 img, .zone3 img, .zone4 img, .zone5 img, .zone6 img {
        border-radius: 2rem;
        margin: 2rem;
    }

    .zone2, .zone4, .zone6 {
        flex-direction: row-reverse;
    }

    .invite {
        margin-bottom: -15rem;
    }

    #frase1 {
        position: relative;
        font-size: 1.4rem;
        top: -15rem;
        left: 1.5rem;
        color: #F6F1EE;
        -webkit-text-stroke: 0.5px #DC783E;
    }
    
    
    #frase2 {
        position: relative;
        font-size: 1.9rem;
        text-align: center;
        top: -18rem;
        left: 14rem;
        color: #09342C;
        -webkit-text-stroke: 1px #32CFB2;
    }
    
    .invite button {
        position: relative;
        font-size: 2.5rem;
        top: -19rem;
        left: 30rem;
    }

    /* upcoming events*/

    .events {
        position: relative;
        left: 10rem;
        width: 50%;
    }

    .events hr {
        width: 20rem;
    }
    
}






