@media only screen and (min-width: 60em) {
    .navigation {
        padding: 0;
        align-items: flex-start;
        flex-wrap: nowrap;
        display: flex;
        order: 1;
        position: relative;
        width: auto;
        flex-direction: row;
        border-radius: 1rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        font-size: 25px;
        flex:none;
    }

    .navigation ul {
        display: flex;
        list-style-type: none;
    }


    .active {
        border-radius: 1rem;
    }

    .logo {
        display: flex;
    }

    h1 {
        font-size: 40px;
        margin-top: 0;
    }

    header {
        border-radius: 2rem;
    }
    
    header div {
        font-size: 20px;
    }

    .contentbox {
        background-color:#F6F7F9;
        
    }

    footer {
        border-radius: 2rem;
    }
}

#assignment-link:hover {
    color: #F7FF00;
}