@media only screen and (min-width: 40em) {

    html {
        max-width: 60rem;
        padding: 0.5rem;
    }

    body {
        width: 100%;
    }

    .logo {
        max-width: 150px;
        max-height: 100px;
        margin-left: 1.5rem;
    }
    nav {
        margin: 0 auto;
        width: 100%;
    }
    .navigation {
        left: 0;
        padding: 0;
        align-items: flex-start;
        flex-wrap: nowrap;
        display: flex;
        order: 1;
        position: relative;
        width: auto;
        flex-direction: row;
        border-radius: 1rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        text-align: center;
        flex:none;
    }

    .navigation a {
        font-size: 1rem;
    }

    .navigation ul {
        display: flex;
        list-style-type: none;
    }

    .active {
        border-radius: 1rem;
    }

    .navigation a:hover {
        color:#F7FF00;
    }

    .active a:hover {
        color:#FD921D;
    }

    main {
        margin: 0rem 2rem 0rem 2rem;
    }

    h1 {
        font-size: 40px;
        margin-top: 0;
    }
    
    header {

        border-radius: 2rem;
    }

    .title {
        margin-top: 0;
    }
    
    header div {
        font-size: 20px;
        margin-top: -2rem;
    }


    .w-summary {
        position: relative;
        top: -10rem;
        right: 6rem;
        width: 10rem;
        height: 10rem;
        background: radial-gradient(#F6F7F9, #3EF4FA);
        border: 1px solid #000;
        padding: 1.5rem;
        box-shadow: 0 0 30px #686A6C;
        opacity: 0.9;
    }

    .banner {
        margin-bottom: -13rem;
    }

    #img-banner img {
        width: 59.5rem;
    }


    .forecast {
        display: flex;
        flex-flow: row wrap;
        
    }

    .forecast-col {
        display: flexbox;
        flex: 1 1 auto;
    }

    .forecastTitle {
        text-align: left;
        background:#F6F7F9;
    }

    .article {
        padding-bottom: 2rem;
    }

    .article-link {
        font-size: 0.8rem;
        margin-top: 1rem;
    }



    #image-travel img {
        position: static;
        bottom: 0;
        float: right;
        width: 40rem;
        margin-top: 3rem;
        margin-left: 1rem;
    }

    .travel-license {
        top: 30rem;
        left: 41rem;
    }

    .travel-license p, a {
        font-size: 0.7rem;
    }


    .contact {
        width: 59.5rem;
        display: flex;
        flex: 1 1 auto;
    }

    .contact-info {
        display: flexbox;
        margin-left: 2rem;
    }

    #map {
        width: 18.75rem;
        height: 9.375rem;
    }


    footer {
        border-radius: 2rem;
    }

    #assignment-link:hover {
        color: #F7FF00;
    }

    /*Gallery Page*/

    .img-g {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        padding: 5px;
    }

    .gallery {
        width: 350px;
        height: 300px;
    }
    
    /* Storm Center*/

    form fieldset {
        padding: .5rem .5rem 1rem 1rem;
    }

    form label.top input, form label.top select {
        padding: .6rem;
    }
}






