@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;0,700;1,200;1,300;1,600&family=Varela+Round&display=swap');

html {
    font-size: 16px;
    box-sizing: border-box;
    max-width: 39rem;
    padding: 0;
    margin: 0 auto;
    background-color: #F6F7F9;
}


body {
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

h1, h2 {
    padding: 0.5rem;
    text-align: left;
}

h1 {
    color: #3EF4FA;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    margin-top: 1.5rem;
}

#page-title {
    color: #FD921D;
    font-size: 30px;
    margin-top: -2rem;

}

.avisoBanner {
    display: block;
    position: fixed;
    width: 100%;
    height: auto;
    background: #F7FF00;
    color: #000000;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -1rem;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 25px;
    font-style: bold;
    color: #FD921D;
}

p {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    color: #000000;
    padding: 1em;
}

.title {
    margin-top: -1.5rem;
}

header {
    display: flex;
    padding: 0.5rem;
    text-align: left;
    color: #F7FF00;
    background-color: #686A6C;
}

header div {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-top: -1.5rem;
    margin-left: 0.5rem;
    font-size: 12px;
}

.logo {
    display: block;
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin-right: 1rem;
}

nav {
    margin-top: -60px;
    margin-bottom: 50px;
}

.navigation {
    position: relative;
    width: 15%;
    left: 300px; 
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #FD921D;
    padding: 0;
    line-height: 2rem;
    text-align: center;

}

.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation a {
    flex: auto;
    text-align: center;
    font-size: 0.75rem;
    padding: 1rem;
    text-decoration: none;
}

.navigation a:link, .navigation a:visited {
    color:#F6F7F9;
}

.active a:link, .active a:visited {
    color:#686A6C;
}

.navigation li {
    display: none;
    list-style-type: none;
    flex: 1 1 100%;
}

.navigation li:first-child {
    display: block;
}

.navigation a.menu::before {
	content: "\2602 \2630";
}
.responsive{
    width: 100%;
    top: 50px;
    margin-bottom: 5rem;
    left: 0px; 
}
.responsive li {
    display: block;
    justify-content: right;
}

.responsive a.menu::before {
	content: "\2600 Close";
}

.active {
    background-color:#3EF4FA;
}

main {
    text-align: center;
    margin-bottom: 2rem;
}

div {
    font-family: "Nunito Sans", sans-serif;
    font-style: italic;
    text-align: left;
}

#img-banner img {
    width: 100%;
    height: auto;
    margin-top: -1rem;
    padding: 0;
}

.w-summary {
    margin: 0;
    background: radial-gradient(#F6F7F9, #3EF4FA);
}

.w-summary h2, p, span {
    margin: 0;
    padding: 0.2rem
}

.forecast {
    display: none;
}

.forecastTitle {
    text-align: center;
    background: #686A6C;
}

.forecast-col {
    background: #686A6C;
}

.head, .data {
    color:#F6F7F9;
    display: block;
    text-align: center;
}

.weather-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height:50px;
}

.article {
    border: 1px solid #686A6C;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0rem 2rem 17rem 2rem;
}

.article-link {
    text-align: right;
    font-size: 0.5rem;
    margin-top: -1rem;
}

.article-link a {
    color:#FD921D;
}

#article-content h3, p {
    text-align: justify;

}

#image-travel img {
    position: absolute;
    bottom: -97%;
    width: 20rem;
    height: auto;
    margin-top: 3rem;
}

.travel-license {
    position: relative;
    top: 76rem;
}

.travel-license p, a{
    text-align: right;
    font-size: 0.5rem;
}

.travel-license a {
    margin-right: 0;
    color:#FD921D;
}

.contact {
    background: #FD921D;
}

.contact-info {
    margin: 0rem 4.5rem 0rem 4.5rem;
    padding-top: 2rem;

}

.contact-info h2 {
    color: #686A6C;
    text-align: left;
    margin-bottom: -0.2rem;
}

.contact-info p, a {
    color: #F6F7F9;
    font-size: 1rem;
    text-align: left;
}

.social-media {
    margin-left: 0.5rem;
}

.icon {
    width: 25px; 
    height: 25px;
    text-decoration: none;
}

#map {
    width: 12.5rem;
    height: 6.26rem;
    margin: 2rem 5rem 2rem 5rem;
}

footer {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color:#686A6C;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p, a {
    color: #3EF4FA;
}

footer p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#date {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#assignment-link {
    font-size: 1rem;
    color:#FD921D;
}

/*Gallery Page*/

#G-title {
    font-size: 1.5625rem;
    color: #3EF4FA;
    text-align: center;
}

.img-g img {
    width: 100%;
    height: 100%;
}

.img-g {
    display: grid;
    align-items: center;
	grid-template-columns: 1fr;
	grid-gap: 1em;
	padding: 5px;
}

figcaption {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: #F6F7F9;
    text-align: center;
    background-color: #FD921D;
    margin-top: 0.5rem;
    padding: 0.1rem;
}


/* Storm Center Page */


form fieldset {
    font-family: "Nunito Sans", sans-serif;
    margin: 2rem 0;
    border: 1px solid #FD921D;
    border-radius: 10px;
    padding: .5rem .5rem .5rem 1rem;
}

form legend {
    color: #FD921D;
    font-size: 1.5625rem;
    margin: 0 1rem;
    padding: 0 .5rem;

}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #FD921D;
    font-size: 1.1rem;
    text-align: left;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1.1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .4rem;
    color: #686A6C;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    text-align: left;
    display:block;
    padding: .75rem 0;
    color: #686A6C;
}

.slide{
    padding-top: 1rem;

}

input[type="range"] {
    -webkit-appearance: none;
    border-radius: 0.5rem;
    appearance: none;
    background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color:  #FD921D;      
    border-radius: 0.5rem;
    height: 0.25rem;
}  

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    margin-top: -.4rem;
    background-color: #FD921D;
    height: 1rem;
    width: 1rem;
    border-radius: 1em;
}


#event-Types {
    padding: 1rem;
    background-color: rgba(0,0,0,0.1);
}

form input.submitBtn {
    border: none;
    background-color: #FD921D;
    color: #F6F7F9;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    background-color: #3EF4FA;
    color: #686A6C;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px #fce9d7;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.inputbox {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
}

.weather-m{
    padding: 0.5rem;
    text-align: center;
}

