@media only screen and (min-width: 40em) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    nav ul {
        flex-flow: row wrap;
    }
    nav ul li a {
        font-size: 16px;
    }
    #Typography-Table {
        font-size: 16px;
    }
    #Typography-Table tr td, #Typography-Table tr th {
        padding: 12px;
    }
    #Typography-Table tr td:nth-child(2), 
    #Typography-Table tr th:nth-child(2),
    #Typography-Table tr td:nth-child(4), 
    #Typography-Table tr th:nth-child(4),
    #Typography-Table tr td:nth-child(5), 
    #Typography-Table tr th:nth-child(5) {
	    display: revert;
    }
    #TableColor tr td:nth-child(0), 
    #TableColor tr td:nth-child(7) {
        display: revert;
    }

}