@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;1,200;1,300&family=Varela+Round&display=swap');
body {
	font-family: "Nunito Sans",sans-serif;
}
header, footer, main, nav {
	max-width: 80em;
	margin: 0 auto;
    border-radius: 1rem;
}
header, footer {
	background-color: #686A6C;
	color: #3EF4FA;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

/* navigation - top */
nav {
	background-color: #FD921D;	
	text-align: center;
}
nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-direction: column;
}
nav ul li {
	padding: 15px;
	flex: 1 1 auto;
}
nav ul li a {
	padding: 15px;
	font-size: 16px;
	color: #F6F7F9;
}
nav a:hover {
	color: #F7FF00;
}
.active {
	background-color: #3EF4FA;
	height: 23px;
    border-radius: 1rem;
}
.active a:hover {
	color: #F7FF00;
}
/*end navigation*/

main {
	padding: 15px;
}
section p, section img {
	padding-left: 15px;
} 
img {
	max-width: 400px;
	height:	auto;
}
li {
	list-style-type: none;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 16px;
}

h4 b {
    text-decoration: underline;
}
a {
	text-decoration: none;
}
/* background colors */
.BG-Cultured {
	background-color: #F6F7F9;
}
.BG-Black {
	background-color: #000000;
}
.BG-DimGray {
	background-color: #686A6C;
}
.BG-Aqua {
	background-color: #3EF4FA;
}
.BG-DarkOrange {
	background-color: #FD921D;
}
.BG-LemonGlacier {
	background-color: #F7FF00;
}
/* text colors */
.textCultured {
	color: #F6F7F9;
}
.textBlack {
    color: #000000;
}
.textDimGray {
	color: #686A6C;
}
.textAqua {
	color: #3EF4FA;
}
.textDarkOrange {
	color: #FD921D;
}
.textLemonGlacier {
	color: #F7FF00;
}
/* text sizes */
.size16 {
	font-size: 16px;
}
.size20 {
	font-size: 20px;
}
.size25 {
	font-size: 25px;
}
.size30 {
	font-size: 30px;
}
.size40 {
	font-size: 40px;
}
/* color-scheme table settings */
#TableColor {
	border-collapse: collapse;
	margin: 15px;
}
#TableColor tr {
	height: 300px;
}
#TableColor tr td {
	text-align: center;
	vertical-align: bottom;
	width: 250px;
	padding: 15px;
}
#TableColor tr td:nth-child(0), 
#TableColor tr td:nth-child(7) {
	display: none;
}
/*typography table settings */
#Typography-Table {
	border-collapse: collapse;
	margin: 15px;
	font-size: 10px;
}
#Typography-Table tr td, #Typography-Table tr th {
	border:1px solid #000000;
	padding: 5px;
	width: 250px;
}
#Typography-Table tr td:nth-child(2), 
#Typography-Table tr th:nth-child(2),
#Typography-Table tr td:nth-child(4), 
#Typography-Table tr th:nth-child(4),
#Typography-Table tr td:nth-child(5), 
#Typography-Table tr th:nth-child(5) {
	display: none;
}
footer a {
    color:#3EF4FA;
    text-decoration: none
 }

#footer_link:link, #assignment-link:link {
    
    color:#3EF4FA;
    text-decoration: none
}

#footer_link:hover, #assignment-link:hover {
    color: #FD921D;
}

#update_info {
    color:#F7FF00;
    text-decoration: none;
}